<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{{ url_for('home') }}">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#helpModal" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#aboutModal" href="#">About</a>
      </li>
  </div>
</nav>
<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text"><strong>Parser:</strong> Select the correct parser for the command or file output you would like to convert to JSON or YAML. See the <a href="https://kellyjonbrazil.github.io/jc/#parsers">parser documentation</a> for more information on each parser.
        <p class="card-text"><strong>Command Output:</strong> Copy/Paste the command or file output you would like converted to JSON or YAML.
        <p class="card-text"><strong>Pretty Print:</strong> If checked, formats the JSON result with indentation. Otherwise, the resulting JSON will be printed on a single line.
        <p class="card-text"><strong>Raw Output:</strong> If checked, outputs pre-processed data.
        <p class="card-text"><strong>YAML Output:</strong> If checked, outputs YAML instead of JSON.
      </div>
    </div>
  </div>
</div>
<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text"><strong>Welcome to the jc demo web app!</strong>
        <p class="card-text">jc is a command-line utility and Python library that converts the output of many commands and file-types to JSON or YAML for easier parsing in scripts.
        <p class="card-text">jc is hand-crafted with love by Kelly Brazil.
        <p class="card-text">This web app is based on jc version <strong>{{ jc_version }}</strong>.
        <p class="card-text">For more information, please see the jc project <a href="https://github.com/kellyjonbrazil/jc">github site</a>.
        <p class="card-text">The source code for this web app can be found here:  <a href="https://github.com/kellyjonbrazil/jc-web">jc-web source</a>.
      </div>
    </div>
  </div>
</div>